name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - '.github/workflows/ci.yaml'

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./app
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/switchlang:${{ github.sha }}

    # 4. Kubernetes Manifest 수정 (Git Write-Back)
    - name: Update Kubernetes Manifest
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        
        # replace image tag in deployment.yaml
        sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/switchlang:${{ github.sha }}|g" k8s/deployment.yaml
        
        git add k8s/deployment.yaml
        
        git commit -m "Update image tag to ${{ github.sha }} [skip ci]"
        git push
